.tab{

  margin: 3px;
  color: grey;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  padding: 10px 15px;
  opacity: 0.7;

}

.tab:hover {

  cursor: pointer;
  border: none;
  opacity: 1;

}

.tabs{
    text-align: center;
  margin: 40px;
  padding: 10px;
}

.active{
  color:#f0b000;
  border: none;
  border-style: none;
  opacity: 1;
  border-bottom: 5px solid #f0b000;
}

.active:hover{
  border-bottom: 5px solid #f0b000;
}

.toDisplay{
  text-align: center;
}

.Profile{
  background: white;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
}



