.team{
  margin: 10px auto;
  background: white;
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  position: relative;
}


.deleteButton {
  visibility: hidden;
  position:absolute;
  background-color: white;
  border: 0.25px solid lightgrey;
  padding: 5px 10px;
  top:-17px;
  right: -17px;
  margin: 5px;
  font-size: 17px;
  cursor: pointer;
  color: grey;
  border-radius: 50%;
}


.modifyButton{
  visibility: hidden;
  position:absolute;
  background-color: white;
  border: 0.25px solid lightgrey;
  padding: 5px 10px;
  top:-17px;
  left: -17px;
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
  width: 10px;
  color: grey;
  border-radius: 50%;
}


.team:hover .deleteButton {
  visibility: visible;
}

.team:hover .modifyButton {
  visibility: visible;
}
